{
  "ConnectionStrings": {
    "Default": "Host=<YOUR_AZURE_POSTGRES_HOST>.postgres.database.azure.com;Port=5432;Database=postgres;Username=<USERNAME>;Password=<PASSWORD>;SSL Mode=Require"
  },
  "AzureStorage": {
    "ConnectionString": "<YOUR_AZURE_STORAGE_CONNECTION_STRING>",
    "ContainerName": "aierp",
    "SasExpiryMinutes": 120
  },
  "OpenAI": {
    "ApiKey": "<YOUR_OPENAI_API_KEY>"
  },
  "Anthropic": {
    "ApiKey": "<YOUR_ANTHROPIC_API_KEY>"
  },
  "WeComNotification": {
    "CorpId": "<YOUR_WECOM_CORP_ID>",
    "AgentId": "<YOUR_WECOM_AGENT_ID>",
    "Secret": "<YOUR_WECOM_SECRET>"
  }
}

