--
-- PostgreSQL database dump
--

\restrict ie8QJ93qC7lhL6yKpXncCUcUaDHJk9nJxCJ8vbJyKRG9XQm854wV736uOIJbvvr

-- Dumped from database version 16.11
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: payroll_policies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payroll_policies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_code text NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    policy_code text GENERATED ALWAYS AS ((payload ->> 'code'::text)) STORED,
    name text GENERATED ALWAYS AS ((payload ->> 'name'::text)) STORED,
    version text,
    is_active boolean DEFAULT false
);


ALTER TABLE public.payroll_policies OWNER TO postgres;

--
-- Data for Name: payroll_policies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: payroll_policies payroll_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payroll_policies
    ADD CONSTRAINT payroll_policies_pkey PRIMARY KEY (id);


--
-- Name: uq_payroll_policies_company_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_payroll_policies_company_code ON public.payroll_policies USING btree (company_code, policy_code);


--
-- PostgreSQL database dump complete
--

\unrestrict ie8QJ93qC7lhL6yKpXncCUcUaDHJk9nJxCJ8vbJyKRG9XQm854wV736uOIJbvvr

